.post_thl_1_0_1 {
    &__new {
        padding: 10px;
        border: 1px dashed #063ac4;
        background: #f8f8f8;
        p {
            font-size: 14px;
            text-align: justify;
        }
    }
    &__newTT {
        font-weight: 600;
        font-size: 16px;
        margin-bottom: 5px;
    }
    &__box {
        margin-top: 20px;
    }
    &__item {
        display: flex;
        margin-bottom: 20px;
    }
    &__img {
        margin-right: 10px;
        width: 20%;
        img {
            display: block;
            width: 100%;
            height: auto;
        }
    }
    &__text {
        width: 80%;
        span {
            display: block;
            font-size: 16px;
            font-weight: 600;
            margin-bottom: 10px;
        }
        p {
            font-size: 14px;
            text-align: justify;
            margin: 0;
        }
    }
    &__other {
        padding: 15px;
        border: 1px solid #e1dede;
        ul {
            margin: 5px 0;
            padding-left: 20px;
            font-size: 14px;
            span {
                font-size: 12px;
                color: #8d8d8d;
            }
        }
    }
    @media(max-width: 767px) {
        &__new {
            margin-top: 10px;
        }
        &__img {
            width: 30%;
        }
        &__text {
            width: 70%;
            span {
                font-size: 14px;
                margin: 0;
            }
            p {
                display: none;
            }
        }
    }
}