.post_author_thl_1_0_0 {
    font-size: 13px;
    border-bottom: 2px solid #f5e6ff;
    &__navg {
        display: flex;
        margin: 0;
        padding: 0;
    }
    li {
        list-style-type: none;
        display: flex;
        padding-right: 10px;
    }
    &__iconDate {
        background: url(../images/date.png) no-repeat;
        width: 25px;
        height: 30px;
    }
    &__iconPerson {
        background: url(../images/person.png) no-repeat;
        width: 25px;
        height: 30px;
        margin-top: 2px;
    }
    &__iconview {
        background: url(../images/view.png) no-repeat;
        width: 25px;
        height: 30px;
        margin-top: 3px;
    }
    p {
        color: #333333;
        a {
            color: #063ac4;
        }
    }
    .symp {
        height: 30px;
        line-height: 30px;
        padding-right: 5px;
        color: #000;
    }
    @media (max-width: 768px) {
        &__navg {
            flex-wrap: wrap;
        }
    }
    @media (max-width: 480px) {
        &__navg {
            padding-left: 0;
        }
    }
}