.tag_thl_1_0_0 {
    margin-bottom: 5px;
    span {
        display: block;
        font-weight: 600;
    }
    a {
        display: block;
        width: fit-content;
        background: #f79323;
        color: #fff;
        text-decoration: none;
        padding: 3px 10px;
        border-radius: 5px;
        font-size: 13px;
        transition: all 0.2s linear;
        &:hover {
            background: #d68121;
        }
    }
}