.album_thl_1_0_0 {
    &__bg {
        position: fixed;
        width: 100%;
        left: 0;
        bottom: 0;
        top: 0;
        background: rgba(0, 0, 0, 0.7);
        z-index: 10;
    }
    &__box {
        position: fixed;
        z-index: 11;
        background: #fff;
        border-radius: 8px;
        width: 90%;
        max-width: 950px;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 10vh;
    }
    &__close {
        cursor: pointer;
        img {
            width: 20px;
            height: 20px;
            display: block;
            margin: 5px 5px 0 auto;
        }
    }
    &__main {
        margin: 10px 20px 20px 20px;
        overflow: auto;
        height: 70vh;
    }
    &__item {
        width: 100%;
        margin-bottom: 15px;
        img {
            display: block;
            width: 100%;
            height: auto;
        }
    }
    @media(max-width: 767px) {
        max-width: 428px;
        &__main {
            margin: 5px 15px 15px 15px;
        }
    }
}