.slide_thl_1_0_0 {
    position: relative;
    background-color: #f9f9f9;
    &__item {
        width: 100px;
        img {
            display: block;
            width: 100%;
            height: auto;
        }
    }
    .tns-outer {
        position: relative;
    }
    .tns-controls {
        position: absolute;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        justify-content: space-between;
    }
    .tns-controls [aria-controls] {
        font-size: 40px;
        padding: 10px;
        margin: 0;
        color: #063ac4;
        font-weight: bold;
        background: none;
    }
}