.newOther_thl_1_0_0 {
    margin: 20px 0 0;
    &__title {
        font-size: 16px;
        color: #8d8d8d;
        padding-bottom: 10px;
        border-bottom: 1px solid #e1dede;
        font-style: italic;
    }
    &__tt {
        font-size: 15px;
        margin: 0 0 5px;
        a {
            color: #063ac4;
            font-weight: 600;
            font-size: 16px;
            &:hover {
                color: #09309c;
            }
        }
    }
    span {
        font-size: 14px;
    }
    ul {
        list-style: none;
        padding-left: 0;
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
    }
    li {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
    &__pic img {
        width: 100%;
        height: auto;
        display: block;
    }
    &__pic {
        width: 15%;
    }
    &__body {
        width: 85%;
        flex: 1;
        margin-left: 10px;
    }
    @media (max-width:767px) {
        ul {
            gap: 0;
            li {
                margin-bottom: 10px;
                gap: 0;
            }
        }
        &__body {
            margin-left: 10px;
        }
        .newOther_thl_1_0_0__tt {
            font-size: 14px;
        }
        span {
            display: none;
        }
        &__pic {
            width: 25%;
        }
        &__body {
            width: 75%;
        }
        &__title {
            font-size: 17px;
        }
        &__tt {
            a {
                font-size: 14px;
            }
        }
    }
    @media(max-width:320px) {
        .newOther_thl_1_0_0__pic {
            width: 100%;
        }
        .newOther_thl_1_0_0__pic img {
            width: 100%;
            height: auto;
            display: block;
        }
        ul {
            gap: 0;
            li {
                margin-bottom: 10px;
                gap: 0;
            }
        }
        &__body {
            margin-left: 0px;
        }
    }
}